<h1>Welcome to your Recipe Box of Tasty Magic!</h1>

<% if @recipes != nil %>
  <h3>All your saved recipes:</h3>
  <ol>
  <% @recipes.each() do |recipe| %>
      <li><h4><a href="/recipes/<%=recipe.id()%>"><%= recipe.name() %></a></h4></li>
  <% end %>
  </ol>
<% end %>

<h3>Add a new recipe:</h3>

<form action="/recipes" method="post">
  <label for="name">Enter name of recipe</label>
  <input id="name" name="name" class="form-control" type="text">
<br>
  <button type="submit" class="btn">Add recipe</button>
</form>

<button type="submit" class="btn"><a href="/clear">Clear all recipes</a></button>

<button type="submit" class="btn"><a href="/rating4">Show all 4 Star Recipes</a></button>

<form action="/add_dummy_recipes" method="post">
  <button type="submit" class="btn btn-success">Add dummy recipes</button>
</form>
