<h1>Rate your recipe</h1>

<form action="/rating" method="post">
  <input name="_method" type="hidden" value="patch">
  <input value="<%= @recipe.id() %>" name="recipe_id" class="form-control" type="hidden">

  <label for="rating">Enter a rating from 1 - 5</label>
  <input id="rating" name="rating" class="form-control" type="text">
<br>
  <button type="submit" class="btn">Rate it!</button>
</form>
