body {
  background-image: url("/../images/food.jpg");
}

.container {
  background-color: hsla(53, 100%, 82%, 0.62);

  /*opacity: 0.6;*/
  margin-top: 10px;
  padding-bottom: 10px;
}

.rating {
  display: inline-block;
}

.btn {
  margin-bottom: 10px;
}

.glyphicon {
  color: yellow;
}
